body {
	margin:0; padding:0;
}
body {
	background: #468  0 0 no-repeat fixed;
}
h3 {
	margin-bottom: 0.25em;color:#00CCFF;
}
h4 {
	margin-bottom: 0.25em;color: #FFCC33
}
h5 {
	text-align:center; font-family: Arial, Helvetica, sans-serif; 
	font-size: 12px; font-weight: normal; text-transform: lowercase; 
	font-style: normal; line-height: 1em; margin-top: .5em; margin-bottom: .33em
}
h6 {
	text-align: center; font-weight: normal; text-transform: lowercase; 
	line-height: 1em; margin-top: .33em; margin-bottom: .5em
}
p {
	margin:0 1em 1em;
}
div.content a:link {
	color:#FF9;
}
div.content a:visited {
	color:#CC9;
}
div.content a:hover {
	color:#FF0;
}
div.links {
	position: absolute; top:156px; left: 0; width: 145px;
}
div.links a {
	background:none;display: block; padding: 5px 10px; margin: 0 0 20px;
	 border-width: 0; border-right: 3px solid #FC9;text-align: center; 
	 font: bold 17px/17px sans-serif;text-decoration: none; color: #FFFF00;
}
div.links a {
	background: #000068 0 0 no-repeat fixed;
}
div.links a:hover {
	color: #F93; border-color: #F93;
}
img#chalsm {
	float:right;
}
imge#chalint {
	float:left;
}
image#martin1 {
	float:left; margin: 0.5em 10px 0 0;
}
image#martin2 {
	float:right; margin: 5px;
}
image#rafting {
	float:left; margin:0 5px 0 0;
}
image#seminar {
	float:right;margin: 0 0 0 5px;
}
image#teamrear {
	float:left;margin: 1.2em 10px 0 0;
}
image#teamfront {
	float:left; margin: 1.1em 10px 0 0;
}
image#mast {
	position: absolute; border-width: 0; border-bottom: 3px solid #FFCC99;
}
image.fleft {
	float:left; margin 1.1em 10px 0 0
}
table {
	background:none;border:  1px solid #FFCC99;font:12px Verdana, sans-serif; color: #FFE;
}
td {
	border: 1px solid #FFCC99;padding: 0.1em .3em 0.1em .3em;
}
div.newsflash {
	margin:0 1em 1em; font-family: Arial, Helvetica, sans-serif; font-size:16px;
 	font-weight:bold; color:#FFFF99;
}
div.content {
	background:  #468 0 0 no-repeat fixed;
}
div.content {
	position:absolute; margin:0; top:100px;right: 60px; left: 142px; 
	color: #FFC; font:14px Verdana, sans-serif; font-weight: bold; padding: 21px;
 	border:3px solid #FFCC99;
}
div.footer {
	margin: 0 -21px 0 -21px; top:20px ; padding: 10px; border-top: solid 3px #FFCC99;
}